<li
  class="lot-item"
  data-drop="true"
  jqyoui-droppable="{onDrop:'li.addDrop'}"

>
  <button ng-click="li.toggleMinimized()">
    {{li.minimized ? 'Maximize' : 'Minimize'}}
  </button>

  <button
  ng-click="li.toggleViewable();"
  ng-class="li.lot.get('viewable') ? 'viewable' : 'hidden'"
  name="button">
  {{ li.lot.get('viewable') ? 'Viewable' : 'Hidden'}}
  </button>
  {{ li.lot.get('name') }}
  <br>
   {{li.lot.items.all().length}} items in this lot
  <ul class="item-list group" ng-hide="li.minimized">

    <item ng-repeat="item in li.lot.items.all()" item="item">

    </item>
  </ul>
</li>