<div class="lot-assignment">

  <h1 class="title large">Lot Assignment</h1>
  <button ng-click="lotIndex.addLot()" name="button">Add Lot</button>
  <ul class="lots-list">
    <lot-li ng-repeat="lot in lotIndex.estate.lots.all();" lot="lot">
    </lot-li>
  </ul>
  <h3 class="title medium">Unassigned Items</h3>
  <ul class="item-list group"
  data-drop="true"
  jqyoui-droppable="{onDrop:'lotIndex.unassignItem'}"
  >
    <item ng-repeat="item in lotIndex.unassignedItems" item="item">

    </item>
  </ul>


</div>
