<form class="item-form">
  <h2 class="large title">Adding an item</h2>
  <ul class="attributes">
    <li class="group">
      <label>Name:</label>
      <input class="field" type="text" name="name" ng-model="form.item.attributes.name">
    </li>
    <li class="group">
      <label>Appraised Value:</label>
      <input class="field" type="number" name="itme[value]" ng-model="form.item.attributes.appraised_value">
    </li>
    <li class="group">
      <label>Description:</label>
       <textarea class="field" name="item[description]" rows="8" cols="40" ng-model="form.item.attributes.description"></textarea>
    </li>
    <li class="group">
      <label for="image-upload" class="upload">Upload</label>
      <input type="file" id="image-upload"
      custom-on-change="form.addImage"
      hidden="true"
      >

    </li>
    <li class="preview">
      <figure class="upload-preview">
        <img ng-src="{{form.item.attributes.image}}" alt="" />
      </figure>
    </li>

  </ul>

  <button class="submit" ng-click="form.submit()">Submit</button>
</form>