

<% if !logged_in? %>
  <a href="<%= new_session_url %>">Login</a>


<% else %>

  <%= my_button_to(session_url, "LOGOUT", "DELETE" ) %>

  <my-header></my-header>
  <main ng-view>

  </main>
<% end %>