

<% if !logged_in? %>
  <a href="<%= new_session_url %>">Login</a>


<% else %>
  <script type="text/javascript">
    window.user_id = <%= current_user.id %>
  </script>
  <%= my_button_to(session_url, "LOGOUT", "DELETE" ) %>

  <custom-header></custom-header>
  <main ng-view>

  </main>
<% end %>